<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="AHMET EMİN GÖRDEBİL" />
<meta name="designer" content="AHMET EMİN GÖRDEBİL" />
<meta name="publisher" content="AHMET EMİN GÖRDEBİL" />
<meta name="Revisit-After" content="7 Days" />
<meta name="distribution" content="web" />
<meta name="googlebot" content="all" />
<meta name="robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="classification" content="{{classification}}" />
<meta name="distribution" content="Global" />
<meta name="content-language" content="en" />
<meta name="rating" content="general" />
<meta http-equiv="reply-to" content="{{ma1l}}" />

<meta name="theme-color" content="#3f3f3f" />

<link
	rel="apple-touch-icon"
	sizes="57x57"
	href="{{ind3x}}/static/favico/apple-icon-57x57.png"
/>
<link
	rel="apple-touch-icon"
	sizes="60x60"
	href="{{ind3x}}/static/favico/apple-icon-60x60.png"
/>
<link
	rel="apple-touch-icon"
	sizes="72x72"
	href="{{ind3x}}/static/favico/apple-icon-72x72.png"
/>
<link
	rel="apple-touch-icon"
	sizes="76x76"
	href="{{ind3x}}/static/favico/apple-icon-76x76.png"
/>
<link
	rel="apple-touch-icon"
	sizes="114x114"
	href="{{ind3x}}/static/favico/apple-icon-114x114.png"
/>
<link
	rel="apple-touch-icon"
	sizes="120x120"
	href="{{ind3x}}/static/favico/apple-icon-120x120.png"
/>
<link
	rel="apple-touch-icon"
	sizes="144x144"
	href="{{ind3x}}/static/favico/apple-icon-144x144.png"
/>
<link
	rel="apple-touch-icon"
	sizes="152x152"
	href="{{ind3x}}/static/favico/apple-icon-152x152.png"
/>
<link
	rel="apple-touch-icon"
	sizes="180x180"
	href="{{ind3x}}/static/favico/apple-icon-180x180.png"
/>
<link
	rel="icon"
	type="image/png"
	sizes="192x192"
	href="{{ind3x}}/static/favico/android-icon-192x192.png"
/>
<link
	rel="icon"
	type="image/png"
	sizes="144x144"
	href="{{ind3x}}/static/favico/android-icon-144x144.png"
/>

<link
	rel="icon"
	type="image/png"
	sizes="36x36"
	href="{{ind3x}}/static/favico/android-icon-36x36.png"
/>
<link
	rel="icon"
	type="image/png"
	sizes="48x48"
	href="{{ind3x}}/static/favico/android-icon-48x48.png"
/>
<link
	rel="icon"
	type="image/png"
	sizes="72x72"
	href="{{ind3x}}/static/favico/android-icon-72x72.png"
/>
<link
	rel="icon"
	type="image/png"
	sizes="96x96"
	href="{{ind3x}}/static/favico/android-icon-96x96.png"
/>

<link rel="manifest" href="{{ind3x}}/static/favico/manifest.json" />
<meta name="msapplication-TileColor" content="#3f3f3f" />
<meta
	name="msapplication-TileImage"
	content="{{ind3x}}/static/favico/ms-icon-310x310.png"
/>
<meta name="theme-color" content="#3f3f3f" />

<link rel="shortcut icon" href="{{ind3x}}/static/favico/favicon.ico" />

<link
	rel="search"
	type="application/opensearchdescription+xml"
	href="{{ind3x}}/opensearch.xml"
	title="{{siteName}} Search"
/>

<meta
	name="robots"
	content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
/>

<link rel="canonical" href="{{url}}" />

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="{{type}}" />
<meta property="og:title" content="{{title}}" />
<meta property="og:description" content="{{description}}" />
<meta property="og:url" content="{{url}}" />
<meta property="og:site_name" content="{{siteName}}" />
{% set setKey1 = keyList.replace("[", "") %} {% set setKeys = setKey1.replace("]", "") %}
{% set keys = setKeys.split(", ") %} {% for keyNot in keys %} {% set key =
keyNot.replace('"',"") %} {% set keyFinal = key.replace("'","") %}
<meta property="article:tag" content="{{ keyFinal }}" />
{% endfor %}

<meta property="article:section" content="{{type}}" />
<meta property="og:updated_time" content="{{time0}}" />
<meta property="og:image" content="img7" />
<meta property="og:image:secure_url" content="img7" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:alt" content="7img8alt" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="article:published_time" content="{{time0}}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{title}}" />
<meta name="twitter:description" content="{{description}}" />
<meta name="twitter:site" content="@{{twAcc}}" />
<meta name="twitter:creator" content="@{{twAcc}}" />
<meta name="twitter:image" content="img7" />

<meta property="og:image" content="img7" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="twitter:image" content="img7" />
<meta name="twitter:card" content="summary_large_image" />

<meta name="keywords" content="{{keywords}}" />
<meta name="description" content="{{description}}" />

<script type="application/ld+json">
	{
		"@context": "https://schema.org/",
		"@type": "{{type}}",
		"name": "{{siteName}}",
		"url": "{{ind3x}}",
		"potentialAction": {
			"@type": "SearchAction",
			"target": "{{ind3x}}/{search_term_string}",
			"query-input": "required name=search_term_string"
		}
	}
</script>
<title>{{title}}</title>
